 
    
    <style>
      
    @media (min-width: 1200px) {
        .modal-xxl {
            width: 100% !important
        }
    }
    .x-y-center {
        display: flex !important;
        justify-content: center;
        align-items: center 
    } 
    thead, tbody, tfoot, tr, td, th {
        vertical-align: middle !important;
    }
    .accordion-button::after {
        margin:0px auto !important
    }
    /* .table > :not(caption) > * > * {
        padding: 0 !important
    } */ 
    .form-lable {
        background: #f1f2fe;
        border-radius: 5px;
        padding: 0 5px;
        top: -10px;
        left: 10px;
        font-size:12px;
    }
    .form-group {
        position: relative;
    }
    .form-control-sm,.form-select-sm {
        padding-top:  15px !important
    }
    .accordion-body .table tbody tr:nth-child(1) .form-lable {
        display: block !important
    }
    
    .accordion-body .table tbody tr  .form-lable {
       display: none
    }
    .accordion-body .table tbody tr  .form-control-sm,.form-select-sm {
        padding-top: 7px !important
    }
    .accordion-body .table tbody tr:nth-child(1)  .form-control-sm,.form-select-sm {
        padding-top:  13px !important
    }
    .accordion-body .table tbody tr td {
        padding:  0 10px 5px 0  !important
    }
    .accordion-body .table tbody tr td .form-select,.form-control,.input-group-text  {
        line-height: 1.2 !important
    } 
    .wall-delete-btn {
        padding: 8px 10px;
        right: 0;
        z-index: 11;
        border-radius:0 3px 0 10px !important
    }
    .more-btn-layer.collapsed .fa {
        transform: rotate(0deg) !important;
        transition: all .5s
    }  
    .more-btn-layer .fa {
        transform: rotate(180deg) !important;
        transition: all .5s
    }   
    .p1 {
        padding: 5px !important
    }     
   .gantt_container {
        min-height: 300px !important;
    }
</style>
 <style>
     .form-floating > .form-control {
         padding-bottom: 0px !important
     }
     .form-floating > label {
        font-weight: bold !important;
        color: #4E52A1 !important
     }
     .toggle-btn {
        border-radius: 5px !important;
        padding: 2px;
        font-size: 12px !important;
        cursor: pointer;
        margin-right: 5px !important
    }
    li.nav-item .timeline-step::after {
        content: "";
        position: absolute;
        top: 34%;
        right: -38px;
        border: 1px dashed;
        width: 50%; 
    }
    li.nav-item {
        position: relative;
    }
    .admin-Delivery-wiz .timeline-step::after {
        visibility: hidden;
    }
    
    .timeline-steps  {
        display: flex;
        justify-content:space-between;
        /* align-items: center; */
        position: relative;
     
    }
    .timeline-step {
        padding: 10px;
        z-index: 1;
        border-radius: 15px;
        margin: 10px
    }
    .inner-circle {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px #bdbdbd;
        background: white;
        display: flex;
        justify-content:center;
        align-items: center;
        color: white;
        border: 3px solid white;
        transform: scale(1.1);

    }
    .timeline-content {
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }

    .table td,th {
        padding: 5px 10px !important ;
        vertical-align: middle !important
    }
    .table thead,th {
        background: #757CF2 !important;
        color: white
    }
    
    .table tbody thead,th {
        background: #757CF2 !important
    }
    .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
        background:  white !important
    }
    .daterangepicker td.active, .daterangepicker td.active:hover {
        background: #757CF2 !important
    }
    .dashboard-icon {
        font-size: 3rem !important;
    }
    #SvgjsText1885 {
        display: none !important;
    }
    
    .timeline-step .inner-circle:hover {
        background: #8a90ff !important;
    }
    
    .bg-light-primary {
        background: #ebecfd !important;
        color: #8a90ff !important;
        font-weight: bold
    }
</style>    