
.alert-container  {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111111111111 !important;
    width: 100%;
    background: red;
    height: 0 !important;
}
.alert-custom {
    position: fixed;
    z-index: 111111111111 !important;
    transform: translate(-50%, -50%);
    top: 18px;
    left: 50%;
    margin: 0px auto;
    min-width: 300px;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
    box-shadow: 0 0 21px gray !important;
    border: 2px solid white !important;
    border-top: none !important;
    font-size: 13px !important;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: white !important;
    font-weight: lighter !important;
    transition: all .5s !important
}
.alert-custom strong {
    line-height: 15px;
    font-weight: lighter !important;
    padding-top: 10px;
}
.alert-custom:hover {
    box-shadow: 0 0 5px !important;
    transition: all .5s !important
}
 
.alert-success {
    background-color: var(--success-color);
    border-color: #cef5ea;  
}
.alert-success .alert-link {
    color: #056349; 
}
  
.alert-info {
    background-color: var(--info-color);
    color: #d7eff6;
    border-color: #c4e7f1; 
}
.alert-info .alert-link {
    color: #1b5464; 
}

.alert-warning {
    background-color: var(--warning-color);
    border-color: #ffebb3; 
}
.alert-warning .alert-link {
    color: #7a5a00; 
}
.alert-danger {
    background-color: var(--danger-color);
    border-color: #feced8; 
}
.alert-danger .alert-link {
    color: #782c3b; 
}