/* ========= Custom Data Tables ========== */
    .dx-htmleditor.dx-htmleditor-outlined {
        height: 350px !important;
    }
    #scroll-vertical-datatable th{
        padding:  0px !important     
    }
    #scroll-vertical-datatable_wrapper .row:nth-child(1) {
        display: none !important
    }
    table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
        top : 2px !important
    }
    table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
        top : 2px !important
    }
/* ========= Custom Data Tables ========== */
.text-black {
    color: black !important;
}

.m_two_cross {
    padding: 18px;
}
.x-y-center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.x-y-between {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}
.count-box {
    height: 20px !important;
    width: 20px !important;
    border-radius: 50% !important;
    line-height:  0 !important;
}

.f-14 {
    font-size: 14px !important;
}
.f-18 {
    font-size: 18px !important;
}
.f-26 {
    font-size: 26px !important;
}
/*  ============  Custom According Button ============= */

    .custom-accordion-button.accordion-button::before {
        position: absolute;
        content: "";
        height: 7px;
        width: 2px;
        background: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg)
    }
    .accordion-button:not(.collapsed)::after {
        visibility: hidden !important;
    }
    .custom-accordion-button.accordion-button:not(.collapsed)::after {
        position: absolute;
        content: "";
        height: 7px;
        width: 2px;
        background: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg)
    }
    .custom-accordion-button.accordion-button{
        padding: 7px 6px;
        position: relative;
        cursor: pointer;
    }
    
    .message-box.Customer {
        background:  red !important;
    }
    .message-box.Customer .ctext-wrap:after {
        left: -11px !important;
        top: 0;
    }
     
/*  ============  Custom According Button ============= */

/*  ============ Custom Input ========== */
    .my-control {
        border-radius: 0 !important;
        display: flex !important;
        justify-content: center ;
        align-content: center ;
        width: 100%;
        height: 100%;
        margin: 0 !important;
        border: 1px !important;
        outline: 0 !important;
        text-align: right !important;
        font-size: 12px !important;
        background: transparent ;
    }
    .custom-form-select.form-select {
        padding: 2px 2px 2px 10px !important;
        min-width: 100px !important;
        background-size: 9px 14px !important;
        font-size: 12px !important;
        cursor: pointer;
    }
    .custom-form-select.form-select option {
        appearance: none !important;
    }
/*  ============ Custom Input ========== */


@keyframes pop {
    0%    { transform: translateY(-6px) }
    100%  { transform: translateY(0px) }
}
.error-msg {
    position: relative; 
}
.error-text , .error {
    left: 0;
    top: 50%;
    color: red;
    animation: pop .2s;
    font-weight: normal !important;
}
.invert {
    filter: invert(1) !important
}
.accordion-button::after {
    position: absolute;
    content: "";
    height: 7px;
    width: 2px;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.icon {
    margin-right: 10px !important
}
.linear-activity {
    overflow: hidden;
    width: 100%;
    height: 4px;
    background-color: #E6E7FC;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11111111111 !important;
}

.determinate {
    position: relative;
    max-width: 100%;
    height: 100%;
    -webkit-transition: width 200ms ease-out .5s;
    -moz-transition: width 200ms ease-out .5s;
        -o-transition: width 200ms ease-out .5s;
            transition: width 200ms ease-out .5s;
    background-color: #757CF2;
}

.indeterminate {
    position: relative;
    width: 100%;
    height: 100%;
}

.indeterminate:before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #757CF2;
    animation: indeterminate_first .5s infinite ease-out;
}

.indeterminate:after {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #757CF2;
    animation: indeterminate_second .5s infinite ease-in;
}
.ng-touched.ng-invalid-required , input.error{      
    border-bottom: red solid 1px ; 
}
.ng-touched.ng-invalid-pattern ,  .ng-invalid-email.ng-valid-required , .ng-invalid.ng-invalid-maxlength{
    border-bottom: red solid 1px  !important;
    background-image: none !important 
}
 


 
.ng-invalid.ng-valid-required , input.error{      
    border-bottom: red solid 1px ; 
}
.ng-invalid.ng-valid-required{
    border-bottom: red solid 1px  !important;
    background-image: none !important 
}

@keyframes indeterminate_first {
    0% {
        left: -100%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}

@keyframes indeterminate_second {
    0% {
        left: -150%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}
form.ng-invalid.ng-invalid-maxlength,
form.ng-invalid.ng-valid-required
{
    border-bottom: none  !important;
}


/* ================== View Enquires Tab =========================== */

.timeline-steps  {
    display: flex;
    justify-content:space-between;
    position: relative;
}
.timeline-step {
    padding: 10px;
    z-index: 1;
    border-radius: 15px;
    margin: 10px
}
.inner-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #bdbdbd;
    background: white;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    border: 3px solid white;
    transform: scale(1.1);

}
.timeline-content {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
 
.font-12 {
    font-size: 12px !important;
}
small {
    font-weight: lighter !important 
} 


/* Project Information */
.accordion-header.custom:hover {
    border: 1px solid var(--primary-bg) !important
}
.accordion-header.custom {
    border: 1px solid  white !important;
    transition: all .3s !important;
}
.ctext-wrap {
    min-width: 50% !important;
}
.alert-container  {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111111111111 !important;
    width: 100%;
    background: red;
    height: 0 !important;
}
.alert-custom {
    margin: 0px auto;
    width: 300px;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 10px;
    box-shadow: 0 0 21px gray !important;
    border: 2px solid white !important;
    border-top: none !important;
    font-size: 13px !important;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: white !important;
    font-weight: lighter !important;
    transition: all .5s !important
}
.alert-custom:hover {
    box-shadow: 0 0 5px !important;
    transition: all .5s !important
}
 
.alert-success {
    background-color: var(--success-color);
    border-color: #cef5ea;  
}
.alert-success .alert-link {
    color: #056349; 
}
  
.alert-info {
    background-color: var(--info-color);
    color: #d7eff6;
    border-color: #c4e7f1; 
}
.alert-info .alert-link {
    color: #1b5464; 
}

.alert-warning {
    background-color: var(--warning-color);
    border-color: #ffebb3; 
}
.alert-warning .alert-link {
    color: #7a5a00; 
}
.alert-danger {
    background-color: var(--danger-color);
    border-color: #feced8; 
}
.alert-danger .alert-link {
    color: #782c3b; 
}
.cost-estimate-table.table tbody td {
    padding: 0 !important;
}
.cost-estimate-table.table th {
    color: white !important;
}
.my-select {
    border: none !important;
    border-radius: 0px !important;
    background: none !important;
    padding-left: 10px !important;
    box-shadow: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.my-select:active, .my-select:focus {
    border-radius: 0px !important;
    box-shadow: none !important;
    outline: none !important;
}

.ta-editor  {
    min-height: 200px !important;
    padding: 20px !important
}
.btn-toolbar {
    justify-content: center !important;
    border: 1px solid lightgray
}
.btn-group:nth-child(4) {
    display:none !important
}

.conversation-list {
    padding: 15px 0 !important
}
.conversation-list  li {
    display: flex;
    margin: 10px 0 !important;
    padding: 10px !important;
    transition: .2s all;

}
.conversation-list .chat-avatar img {
    width: 30px ;
    border-radius: 25px;
    margin-bottom: 8px
}
.conversation-list .chat-avatar {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 10px;
}

.conversation-list  li .conversation-text {
    min-width: 10% !important;
    max-width: 80% !important
}

.conversation-list  li .timesOfMsg{
    font-size: 10px;
    color: gray; 
}
.progress-loader {
    position: fixed;
    z-index: 1111111;
    width: 100%;
    border-radius: 0 !important;
    height: 5px !important;
}
.progress-loader .progress-bar-animated {
    animation: .2s linear infinite progress-bar-stripes;
}

.progress-loader::after {
    content: "";
    width: 100%;
    height: 100%;
    /* background: #0000005b; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    cursor: not-allowed;
}
.link:hover {
    text-decoration: underline !important;
}
.hover-bg-primary:hover {
    background: var(--primary-bg) !important;
    color: white !important;
}
#Layers_Lable .row:nth-child(1) label {
    display: block;
}
#Layers_Lable .row label {
    display: none;
}

@media (min-width: 1200px) {
    .modal-md {
        max-width: 800px;
    }
}
.bg-none {
    background: none  !important;
    background-color: none  !important;
}
sup {
    font-size: 10px !important;
}

.enquiry__comments__alert {
    position: absolute;
    top: -15px;
    right: -11px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color:#f95d7d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
}
.cost_estimate_comments_ul {
    position: relative
}
.cost_estimate_comments {
    background: #fa5c7c;
    height: 16px;
    position: absolute;
    width: 16px;
    border-radius: 50%;
    /* margin-top: -8px; */
    color: white;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -12px;
    right: -18px;
}

.dx-texteditor-container {
    min-width: 300px !important;
    max-width: 320px !important;
    overflow: auto !important;
}

.dx-tag-content {
    font-size: 12px !important;
}
#history_id .card-header ,
#history_id  button, 
#history_id  .remove_history, 
#history_id .fa {
    display: none !important;
}

.history_building_type_value {
    display: none;
}

.history_building_component_value {
    display: none;
} 

.history_precast_value {
    display: none;
}

#history_id .history_building_type_value {
    display: block !important;
}
#history_id .history_building_type_select {
    display: none !important;
}

#history_id .history_building_component_value {
    display: block !important;
    border: none;
}
#history_id .history_building_component_select {
    display: none !important;
}

#history_id .history_precast_value {
    display: block !important;
}
#history_id .history_precast_select {
    display: none !important;
}

.custom_drag {
    position: absolute;
    left: -6px;
    background-color: aliceblue;
    width: 11px;
    margin-top: 4px;
}
.custom_drag .mdi-arrow-top-left-bottom-right-bold::before {
    transform: rotate(45deg);
}


#technical_estimate_histories .btn {
    display: none !important;
}
.custom_drag_ .mdi-arrow-top-left-bottom-right-bold::before {
    transform: rotate(45deg);
}

.pe-none{
    pointer-events: none;
}

.bg-primary2 {
    background-color: #0C326C !important;
}