.custom.table tr td , .table > :not(caption) > * > * {
    vertical-align: middle !important;
    padding: 5px 10px !important;
}
/* .custom.table tr td:nth-child(1) {
    text-align: center !important;
} */

#ProjectInfo .custom.table tr td:nth-child(1) {
    text-align: left !important;
}
.custom.table tr th{
    background: var(--secondary-bg) !important;
    color: var(--text-light);
}
.custom.table thead th   {
    vertical-align: middle !important;
    padding: 7px 10px !important;
}
 .dataTables_length {
    margin-bottom: 15px;
 }

.hide-page-size .dataTables_length {
    display: none !important;
}