.custom.table tr td , .table > :not(caption) > * > * {
    vertical-align: middle !important;
    padding: 4px 10px !important;
}
/* .custom.table tr td:nth-child(1) {
    text-align: center !important;
} */

#ProjectInfo .custom.table tr td:nth-child(1) {
    text-align: left !important;
}
.custom.table tr th{
    background: var(--secondary-bg) !important;
    color: var(--text-light);
}
.custom.table thead th   {
    vertical-align: middle !important;
    padding: 7px 10px !important;
}
 .dataTables_length {
    margin-bottom: 15px;
 }

.hide-page-size .dataTables_length {
    display: none !important;
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
    position: unset !important;
    display: inline-block !important;
    margin-right: 10px !important;
}
.btn-na {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid #98a6ad;
    color: #5c5c5c;
    border-radius: 2px;
    box-shadow: 0 0 2px #ececec;
}
table.dataTable > tbody > tr.child {
    display: table;
}
.child .dropdown {
    display: inherit;
}
.dtr-title {
    font-weight: lighter !important;
    width: 130px !important;
    position: relative ;
}
.dtr-title::after {
    content: ':';
    position: absolute;
    right: 20px;
    font-weight: bold;
}
table .progress {
    display: inline-block !important;
    min-width: 80px;
}
tr.child {
    background: #f1f3f4 !important;
}