fieldset:hover,
fieldset:hover .legend {
    border: 1px solid var(--primary-bg) !important
}
.custom.modal-content {
    background-color: whitesmoke;
    min-height: calc(100vh - 80px);
}
select.custom, input[type=text].custom {
    text-transform: capitalize ;
}
select.custom, input.custom {
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    box-shadow: none;
}

select.custom:hover, input.custom:hover {
    border: 1px solid #dee2e6;
}
select.custom:focus, input.custom:focus {
    border: 1px solid var(--primary-bg);
}
.badge {
    padding-top: 5px !important;
}
.legend {
    top: -15px;
    position: absolute;
    font-weight: bold;
    line-height: 25px;
    padding: 0px 10px;
    background: white;
    left: 25px;
}

.table-bold {
    font-weight: bold !important
}

.timeline-step {
    display: inline !important;
}

.timeline-step.active .inner-circle {
    background: var(--primary-bg) !important
}

.inner-circle .fa {
    transform: translateY(5px)
}

li.nav-item .timeline-step::after {
    content: "";
    position: absolute;
    top: 38%;
    right: -38px;
    border: 1px dashed;
    width: 50%;
}

li.last .timeline-step::after {
    display: none;
}

li:nth-last-child(1) .timeline-step::after {
    display: none;
}

li.nav-item {
    position: relative;
}

.inner-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #bdbdbd;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 3px solid white;
    transform: scale(1.1);

}

.timeline-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.admin-Delivery-wiz .timeline-step::after {
    visibility: hidden;
}
.wizard-nav {
    display: flex !important;
    justify-content: space-between;
    padding: 0 10px;
    position: relative;
}
.wizard-nav::after {
    content: '';
    width: 90%;
    height: 0;
    border-bottom: 2px dotted gray;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
 .wizard-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
.wizard-tab-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    width:50px;
    background: gray;
    border-radius: 50%;
    text-align: center !important;
    color: white;
    padding: 10px;
    z-index: 11;
    font-size: 10px !important;
    margin-bottom:7px !important;
    box-shadow: 0px 0px 10px #bdbdbd;
    border: 3px solid white;
}
.wizard-tab.active .wizard-tab-icon{
    background: var(--primary-bg);
    border: 3px solid white;
    color: white; 
}
.wizard-tab.active small {
    color: var(--primary-bg);
} 
.wizard-tab small {
    font-weight: bold !important;
    color: gray;
    font-size: 14px !important;
} 

.wizard-tab .wizard-tab-icon i {
    font-size: 20px;
}
body.swal2-toast-shown .swal2-container {
    height: auto !important;
}
body.swal2-toast-shown .swal2-title {
    font-weight: bold !important;
}
.app-modal {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #00000052;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    opacity: 1;
    transition: all .5s;
}
.app-modal-content {
    width: 40%;
}
.form-check-input {
    cursor: pointer !important;
}
.app-modal.modal-d-none {
    opacity: 0;
    visibility: hidden;
}
.app-modal.app-modal-content {
    opacity: 1;
    transition: all 1s;
    transform: translateX(0%);
}
.app-modal.modal-d-none .app-modal-content {
    transition: all 1s;
    opacity: .5;
    transition: all 1s;
    transform: translateX(150%);
}
.progress {
    background-color: #cdcdcd !important;
}
.darkgreen {
    background-color: #4caf50;
}
.border-darkgreen {
    border-color: darkgreen !important;
}
.text-darkgreen {
    color: darkgreen !important;
}

.form-checkbox-success .form-check-input:checked {
    background-color: darkgreen !important; 
    border-color: darkgreen !important;
}
input[type=checkbox].custom {
    padding: 9px !important;
    width: 20px;
    margin: 0 !important;
    border-radius: 50% !important;
    border: 1px solid lightgrey;
}