.btn-quick-view {
    font-size: 12px !important;
    background-color: #EBF4FE;
    color: #4199FC;
    border:1px solid #4199FC;
    border-radius: 2px;
    box-shadow: 0 0 2px #4199FC;
    position: relative;
}
.btn-quick-view:hover {
    background-color: #4199FC;
    color: #EBF4FE;
    border:1px solid #EBF4FE; 
}