<div class="btn-group border shadow-sm"> 
    <select title="Set as Template" class="form-select border-0" name="template" set-template="templateId" ng-model="templateId">
        <option ng-repeat="Template in Templates" ng-value="Template.id" ng-bind="Template.template_name"></option>
    </select>
    <button title="Create" create-template class="btn btn-success btn-sm border-0">
        <i class="mdi mdi-plus-box-multiple"></i>
    </button>
    <button title="Overwrite Template" overwrite-template="{
        building_component_id: w.WallId,
        index_position: fIndex,
        detail_position: Secindex,
        template: templateId
    }" class="btn btn-primary  btn-sm  border-0" ng-show="d"><i class="mdi mdi-pencil"></i></button>
    <button title="Delete Template" delete-template="{
        building_component_id: w.WallId,
        index_position: fIndex,
        detail_position:  Secindex,
        template: templateId
    }" class="btn btn-danger btn-sm  border-0" ng-show="d"><i class="mdi mdi-trash-can"></i></button>
</div>